@page "/Characters/{character?}"
@model BBStats.Pages.Characters.IndexModel
@{
    ViewData["Title"] = $"{Model.CharacterDisplayName} Top";
}

<div class="mainDiv container py-4">
    @{
        ViewData["PreviousPageUrl"] = Model.Top.HasPreviousPage
            ? Model.GetPageUrl(Model.Top.PageNumber - 1)
            : null;
        ViewData["NextPageUrl"] = Model.Top.HasNextPage
            ? Model.GetPageUrl(Model.Top.PageNumber + 1)
            : null;
    }
    <partial name="_TopPlayersTable" model="Model.Top" />
    <partial name="_TopPlayersPagination" model="Model.Top" />
</div>
