@page "/Characters/{character?}"
@model BBStats.Pages.Characters.IndexModel
@{
    ViewData["Title"] = $"{Model.CharacterDisplayName} Top";
}

<div class="mainDiv container py-4">
    @{
        ViewData["GetPageUrl"] = new Func<int, string?>(Model.GetPageUrl);
    }
    <partial name="_TopPlayersTable" model="Model.Top" />
    <partial name="_TopPlayersPagination" model="Model.Top" />
</div>
