@model PlayerProfilePageViewModel
@{
    var prevUrl = Model.CurrentPage > 1
        ? PlayerPageUrl.For(Url, Model.SteamId, Model.CharacterSlug, Model.CurrentPage - 1)
        : null;
    var nextUrl = Model.CurrentPage < Model.TotalPages
        ? PlayerPageUrl.For(Url, Model.SteamId, Model.CharacterSlug, Model.CurrentPage + 1)
        : null;
}
<div class="pagination-container @(ViewData["PaginationClass"] as string)" role="navigation" aria-label="Match list pagination">
    @if (prevUrl is not null)
    {
        <a href="@prevUrl" class="tableButton" aria-label="Previous page">&lt;</a>
    }
    else
    {
        <span class="tableButton is-disabled" aria-disabled="true">&lt;</span>
    }

    <span class="page-info mx-4">@Model.CurrentPage</span>

    @if (nextUrl is not null)
    {
        <a href="@nextUrl" class="tableButton" aria-label="Next page">&gt;</a>
    }
    else
    {
        <span class="tableButton is-disabled" aria-disabled="true">&gt;</span>
    }
</div>
