$main-color: #18161a;
$second-main-color: #16171a;
$therd-main-color: #111214;
$header-footer-color: #212529;
$border-color: #495057;
$muted-text-color: rgba(255, 255, 255, 0.5);
$text-color: white;

$font-family: system-ui,"Segoe UI","Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

$border-radius: 10px;