@model TopPageViewModel
@{
    var previousUrl = ViewData["PreviousPageUrl"] as string;
    var nextUrl = ViewData["NextPageUrl"] as string;
}
<div class="pagination-container">
    @if (Model.HasPreviousPage && !string.IsNullOrEmpty(previousUrl))
    {
        <a href="@previousUrl" class="tableButton" aria-label="Previous page">&lt;</a>
    }
    else
    {
        <span class="tableButton is-disabled" aria-disabled="true">&lt;</span>
    }

    <span class="page-info mx-4">@Model.PageNumber</span>

    @if (Model.HasNextPage && !string.IsNullOrEmpty(nextUrl))
    {
        <a href="@nextUrl" class="tableButton" aria-label="Next page">&gt;</a>
    }
    else
    {
        <span class="tableButton is-disabled" aria-disabled="true">&gt;</span>
    }
</div>
